* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  background: url(../images/login_bg.jpg) no-repeat;
  background-size: cover;
}
.box {
  width: 1200px;
  margin: 10px auto 0;
  overflow: hidden;
}
.myForm {
  padding: 0 30px;
}
.myForm .layui-form-item {
  position: relative;
}
.myForm .layui-form-item input {
  padding-left: 30px;
}
.login,
.register {
  width: 400px;
  height: 310px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.login .title,
.register .title {
  padding: 10px;
  text-align: center;
}
.myForm .layui-input-block a {
  float: right;
}
.myForm .layui-form-item i {
  position: absolute;
  left: 10px;
  top: 10px;
}
.register {
  display: none;
}
